header{
    background-image: url('../assets/hero-bg.png');
    height: 698px;
}
nav{
    display: flex;
    justify-content: space-between;
    width:1140px;
    margin: auto;
    padding: 50px 0px;
    margin-bottom: 158px;
    align-items: center;
}
.banner {
    text-align: center;
}

.banner-heading {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}
button{
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  color :white;
  background-color: #4E47FF;
  border: none;
  border-radius: 10px;
}

.second-page{
    display:flex;
    margin:116px auto;
    border-radius: 30px;
    width: 1140px;
    justify-content: space-between;
}

.second-page .title {
        font-size: 42px;
        font-weight: bold;
        color:#252432;
}
.second-page .slide-des {
          font-size: 24px;
          font-weight: 200;
          color:#8C8E98;
          margin: 23px auto;

}
.second-page img {
    border-radius: 30px;
}